@charset "UTF-8";

*{margin: 0; padding: 0;}

img{
	border:0;
}
a{
	color: #000;
	text-decoration: none;
}

ul, ul li{
	list-style: none;
}

#wrap{
    margin: 0 auto;
    width: 100%;
}

header > a > img{
    margin-left: 47%;
    margin-top: 15px;
    margin-bottom: 23px;
}

header nav{
    width: 100%;
    background: #332805;
}

header nav ul{
    height: 35px;
    margin: 0 auto;
    display: inline-block;
}

header nav ul{
    width: 100%;
}

header nav ul li{
    float: left;
    line-height: 36px;
    display: block;
    width: 25%;
    text-align: center;
}

.gnb{
    width: 100%;
    height: 30px;
    position: relative;
    background: #fff;
    font-size: 14pt;
    margin-bottom: 3px;
}

.gnb a{
    color: #332805;
    padding: 0 5px;
    line-height: 30px;
}

.gnb a:hover{
    text-decoration: none;
    color: #332805;
}

.gnb span{
    position: absolute;
}

.gnb span:first-of-type{
    left: 10px;
}

.gnb span:last-of-type{
    right: 10px;
}

header nav ul li a{
    color: #fff;
}

header nav ul li:hover a{
    color: #fff;
    text-decoration: none;
    padding-bottom: 7px;
    border-bottom: 2px solid #ffcd00;
}
.carousel-inner .item img{
    width: 100%;
}

.prepostion{
    position: absolute;
    top: 50%;
    left: 40%;
    width: auto;
}

.carousel-control.left{background-image: none;}
.carousel-control.left img{width: 44px; height: 44px; margin-top: 250px;}
.carousel-control.right{background-image: none;}
.carousel-control.right img{width: 44px; height: 44px; margin-top: 250px;}

section article #newsTitle{
    width: 769px;
    height: 55px;
    border-bottom: 4px solid #e8ce56;
    margin: 0 auto;
    margin-top: 100px;
}

section article #newsTitle p{
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#news{
    width: 1200px;
    height: 360px;
    padding-top: 80px;
    margin: 0 auto;
}

#news .service{
    width: 30%;
    height: 350px;
    background: #fff;
    border: 2px solid #ddd;
    margin-left: 20px;
    margin-right: 25px;
    float: left;
}

#news .service .title{
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
}

#news .service .string{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

#news .service:hover{
    border: 2px solid #e8ce56;
}

#news .infor{
    width: 30%;
    height: 350px;
    background: #fff;
    border: 2px solid #ddd;
    margin-right: 25px;
    float: left;
}

#news .infor .title{
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
}

#news .infor .string{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

#news .infor:hover{
    border: 2px solid #e8ce56;
}

#news .shopp{
    width: 30%;
    height: 350px;
    background: #fff;
    border: 2px solid #ddd;
    margin-right: 15px;
    float: left;
}

#news .shopp .title{
    font-weight: bold;
    font-size: 20px;
    margin: 30px;
}

#news .shopp .string{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

#news .shopp:hover{
    border: 2px solid #e8ce56;
}

#news2{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    padding-top: 80px;
    clear: both;
}

#news2 .kakaoAI{
    width: 40%;
    height: 400px;
    border: 2px solid #ddd;
    margin-left: 5%;
    margin-right: 8%;
    float: left;
}

#news2 .kakaoAI:hover{
    border: 2px solid #e8ce56;
}

#news2 .kakaoAI .title{
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

#news2 .kakaoAI .string{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

#news2 .talent{
    width: 40%;
    height: 400px;
    border: 2px solid #ddd;
    float: left;
}

#news2 .talent:hover{
    border: 2px solid #e8ce56;
}

#news2 .talent .title{
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

#news2 .talent .string{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

article:nth-child(3){
    margin-top: 150px;
}

#kakaoService{
    width: 1200px;
    height: 240px;
    border: 2px solid #ddd;
    clear: both;
    margin: 0 auto;
}

#kakaoService > p{
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

#kakaoService img{
    width: 50px;
    margin-bottom: 10px;
}

.serviceName{
    font-size: 15px;
    font-weight: bold;
}

#kakaoService div{
    float: left;
    width: 11%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

#kakaoService div:hover img{
    transform: scale(1.2);
}

#kakaoService div p{
    font-size: 12px;
}

footer{
    width: 100%;
    height: 120px;
    clear: both;
    margin-top: 50px;
    background: #332805;
}

footer p{
    float: left;
    color: #fff;
    font-size: 12px;
    margin-top: 35px;
    margin-left: 50px;
}

footer p a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

footer p a:hover{
    color: blanchedalmond;
    text-decoration: none;
}

footer div{
    margin-top: 40px;
    margin-right: 150px;
    float: right;
}